#navbar-top{
    grid-area: navbarTop;
    height: 100%;
    background: transparent;
    z-index: 2;
    display: grid;
    padding: 0 4vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    grid-template-rows: 100%;
    grid-template-areas: 
        " logo search navlinks avatar"
    ;
    #navbar-logo{
        justify-self: start;
        align-self: center;
        #logo{
            // height: 4px;
            grid-area: logo;
            height: 4vh;
        }
    }
    #search-bar{
        grid-area: search;
        justify-self: start;
        align-self: center;
        .ant-input{
            border-radius: 40px;
            background-color: rgba(255, 255, 255, 0.3) !important;
            border:none;
            color: white;
            font-size: 16px;
            padding:7px 7px 7px 15px;
            max-height: 4.5vh;
        }
        .ant-input::placeholder{
            color: white;
            font-size: 16px;
        }
        .ant-input-group-addon{
            display: none;
        }
    
    }
    #navbar-links{
        grid-area: navlinks;
        height: 10vh;
        ul{
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100%;
            li{
                display: table;
                height: 100%;
                color: white;
                padding: 0 10px;
                transition: background-color ease .5s;
            }
            .active-link{
                background-color: rgba(255, 255, 255, 0.3) !important;
                // background: hsla(0%, 2%, 0.2, 0.4);
            }
            li:hover{
                background-color: rgba(255, 255, 255, 0.3) !important;
            }
            li a{
                display: table-cell;
                vertical-align: middle;
                font-size: 16px;
                text-transform: uppercase;    
                color: white;
            }
        }
    }
    #navbar-avatar{
        grid-area: avatar;
        justify-self: right;
        align-self: center;
        position: relative;
        ul{
            list-style-type: none;
            display: inline-flex;
            margin: 0;
            padding: 0;
        max-height: 4.5vh;

            li{
                padding-left: 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        #navbar-login{
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.3) !important;
            border:none;
            color: white;
            height: 100%;

        }
        #navbar-register{
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.3) !important;
            border:none;
            height: 4.5vh;
            color: white;
        }
        #avatar{
            cursor: pointer;
            height: 5vh;
            width: 5vh;
            transform: translateY(-.25vh);
            svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        #avatar-dropdown{
            display: none;
        }
    }
    // #navbar-sidebar{
      
        #password-sidebar{
            background: blue;
        }
    // }
}

#navbar-sidebar{

    #tabs-output{
        opacity: 0;
        color: lightgreen;
        font-weight: bold;
        transition: opacity ease .350s;
    }
    
    #tabs-output-password{
        opacity: 0;
        font-weight: bold;
        transition: opacity ease .350s;
    }
    #tabs-output-ban{
        opacity: 0;
        font-weight: bold;
        transition: opacity ease .350s;
        color: lightgreen;
    }
    #tabs-output-avatar{
        opacity: 0;
        font-weight: bold;
        transition: opacity ease .350s;
    }
    // .tabs-output-password_true{
    //     color: lightgreen;
    // }
    // .tabs-output-password_false{
    //     color: red;
    // }
    .ant-form-item-required{
        display: none !important;
    }
    #basic_username{
        border-radius: 20px;
        width: 150px;
        margin: 20px 0 10px 0;
    }
    .ant-input-affix-wrapper, .ant-input-password{
        border-radius: 20px;
        width: 200px;
    }
}

        #basic_actualPassword{
            border-radius: 20px;
        }
#basic_newPassword{

}
#basic_checkNewPassword{

}
