#login{
    grid-area: login;
    transform: translateY(-25%);
    justify-self: center;
    border-radius: 5px;
    width: 40%;
}

#error-ouput-login{
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    background: white;
    opacity: .9;
    // box-shadow: 2px 2px 2px 2px red;
    top: -50%;
    right: -250%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: right ease .3s, opacity ease .150s;
}

#logo-login{
    width: 100%;
    height: auto;
}

#login-title{
    color: white;
    text-align: center;
    margin: 15px 0;
}

#login-form{
    .ant-form-item-label{
        display: none;
    }
    .ant-input{
        color: white;
        box-shadow: none;
        background-color: transparent;
        border: none;
    }
    #basic_username{
        background-color: white;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border:none;
        -webkit-text-fill-color: white;
        background: transparent;
        transition: background-color 5000s ease-in-out 0s;
    }
    .ant-input-password{
        border:none;
        box-shadow: none;
    }
    ::placeholder{
        color: white;
    }
    // #basic
    .loginInput{
        padding: 10px;
        outline: none;
        color: white;
        border-radius: 40px;
        background: hsla(0,0%,100%,.3) !important;
        font-size: 18px;
    }
    #login-submit{
        width: 100%;
        height: 42px;
        // margin: 15px;
        border-radius: 20px;
        font-size: 21px;
        background-color: rgba(0,0,0,.15);
        border:none;
        box-shadow: none;
    }

}

#register-section{
    text-align: center;
    #register-btn{
        color: white;
        background-color: rgba(0,0,0,.15);
        border:none;
        border-radius: 20px;
        margin-top: 15px;
    }
}