#sign-up{
    grid-area: signup;
    transform: translateY(-25%);
    justify-self: center;
    border-radius: 5px;
    width: 40%;
}

#error-output-register{
    position: absolute;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    background: white;
    opacity: .9;
    // box-shadow: 2px 2px 2px 2px red;
    top: -50%;
    right: -250%;
    transform: translate(50%, -50%);
    opacity: 0;
    transition: right ease .3s, opacity ease .150s;
}

#logo-register{
    width: 100%;
    height: auto;
}

#register-title{
    color: white;
    text-align: center;
    margin: 15px 0;
}

#register-form{
    .ant-form-item-label{
        display: none;
    }
    .ant-input{
        color: white;
        box-shadow: none;
        background-color: transparent;
        border: none;
    }
    #basic_email{
        background-color: transparent;

    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border:none;
        -webkit-text-fill-color: white;
        background: transparent;
        transition: background-color 5000s ease-in-out 0s;
    }
    .ant-input-password{
        border:none;
        box-shadow: none;
        padding-left: 8px;
    }
    ::placeholder{
        color: white;
    }
    // #basic
    .registerInput{
        padding: 10px;
        outline: none;
        color: white;
        border-radius: 40px;
        background: hsla(0,0%,100%,.3) !important;
        font-size: 18px;
    }
    #register-submit{
        width: 100%;
        height: 42px;
        // margin: 15px;
        border-radius: 20px;
        font-size: 21px;
        background-color: rgba(0,0,0,.15);
        border:none;
        box-shadow: none;
        margin-top: 24px;
    }

}

#register-section{
    text-align: center;
    #register-btn{
        color: white;
        background-color: rgba(0,0,0,.15);
        border:none;
        border-radius: 20px;
        margin-top: 15px;
    }
}
#password-require{
    text-align: center;
    color: white;
}