#register{
    display: grid;
    grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-areas: " . . . . . ."
        " . . . . . ."
        ". . signup signup . ."
        " . . signup signup . ."
        " . . . . . ."
        " . . . . . ."

    ;
    position: relative;
    overflow: hidden;
}

#register-vid{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}