#not-found{
    position: absolute;
    left: 50%;
    top: 75.5%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border-radius: 40px;
    // padding: 15px 0;
    text-align: center;
}

#home-btn{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    background-color: #F25E65;
    color: white;
    font-size: 16px;
    outline: none;
    border: 0px solid darkred;
    transition: border .3s;
}

#home-btn:hover{
    border: 5px solid #F25E65;
}