#builds{
    #builds-menu{
        display: flex;
        list-style-type: none;
    }

    #tabs-output-build{
        opacity: 0;
        font-weight: bold;
        transition: opacity ease .350s;
    }
}