#navigation{
    position: relative;
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    "navbar"
    "content"
    ;
}

// #content{
//     grid-area: content;
//     // height: calc(100vh);
//     // margin-top: 10vh;
//     z-index: 0;
// }
#navbar{
    z-index: 1;
    grid-area: navbar;
}
#content-vid{
    z-index: 0;
    position: fixed;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
#content {
    overflow: auto;
    grid-area: content;
    z-index: 0;
    margin: 5vh 4vw;
    background: rgba($color: #ffffff, $alpha: .3);
    border-radius: 15px;
}
#content::-webkit-scrollbar{
    width: 15px;
    background: hsla(0, 0, 0%, .7);
    // border-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#content::-webkit-scrollbar-thumb {
    background: hsla(0, 0, 100%, .7);        /* color of the tracking area */
    border-radius: 15px;
  }
//     // FERME


    