#dashboard{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 100vh;
    grid-template-areas: 
    " champions builds stream items todo"
    ;
}
#dashboard-champions:hover {
    .dashboardChampionsImages{
        transform: scale(1.2);
        filter: blur(3px);
    }
    h2:after{
        width: 100%;
    }
}
#dashboard-champions{
    grid-area: champions;
    overflow: hidden;
    position: relative;
    .dashboardChampionsImages{
        transition: transform .3s, filter .3s;
        height: 100vh;
        background: url('../../assets/dashboard/champions/Akali_0.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        color:white;
    }
    h2::after{
        content: ""; 
        display: block;
        width: 0;
        padding-top: 2px; 
        border-bottom: 1px solid white;
        transition: .3s; 
    }
}
#dashboard-builds{
    grid-area: builds;
}
#dashboard-stream{
    grid-area: stream;
}
#dashboard-items{
    grid-area: items;
}
#dashboard-todo{
    grid-area: todo;
}



