#page404{
    height: 100%;
    background-color: #26234A;
    position: relative;
}

#img-404{
    background-image: url("../../assets/404/404.gif");
    background-size: initial;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
