#connexion{
    display: grid;
    grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-template-areas: " video video . . . ."
        " . . . . . ."
        ". . login login . ."
        " . . login login . ."
        " . . . . . ."
        " . . . . . ."
    ;
    position: relative;

    overflow: hidden;
}

#login-vid{

    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}