#champions{
    // background: white;
    // opacity: .3;
    // height: 80vh;
    // margin: 5vh 0;
    // border-radius: 10px;
    color: white;
    font-size: 21px;
    .champ-table{
        .-pagination{
            color: black;
        }
        .inputfilters{

        }
        .rt-th{
            position: relative;
            flex: 50 0 auto !important;

        }
        .rt-td{
            display: flex;
            align-items: center;
            text-align: center;
        }
        .rt-tr input{
            background: hsla(0,0,0%,.4);
            color: white;
            position: relative;
        }
        .rt-tr input::placeholder{
            color: white;
        }

        .rt-th .test .rt-resizable-header .-cursor-pointer{
            flex: none !important;
            // width: 120px;
        }
        .champTitle{
            color: white;
            font-size: 24px;
            // font-weight: bold;
        }
    }

    .spellContainer{
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        .spellOverlay{
            z-index: 900;
            display: none;
            position: absolute;
            bottom: -100%;
            background-color: hsla(0,0,0%,.4);
            width: fit-content;
            height: auto;
            font-size: 12px;
            h6{
                font-size: 12px;
                font-weight: bold;
                color: white;
            }
        }
    }
    .spellContainer:hover{
        .spellOverlay{
            display: block;
        }
    }
    .ant-tabs-tabpane .ant-tabs-tabpane-active{
        background-color: yellow;
    }
    .champSidebar{
        .ant-drawer-header .ant-drawer-title{
            font-size: 48px !important;
        }
    }
}