// #navbar-left{
//     height: 100vh;
//     width: 8vw;
// }

// #navbarLeft-champions:hover {
//     .navbarLeftChampionsImages{
//         transform: scale(1.2);
//         // filter: blur(3px);
//         filter: grayscale(80%);
//     }
//     h2:after{
//         width: 100%;
//     }
// }
// #navbarLeft-champions{
//     grid-area: champions;
//     overflow: hidden;
//     position: relative;
//     height: 20vh;
//     .navbarLeftChampionsImages{
//         transition: transform .3s, filter .5s;
//         height: 100%;
//         width: 8vw;
//         background: url('../../../assets/dashboard/champions/Akali_0.jpg');
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position-x: center;
//     }
//     h2{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform:translate(-50%,-50%);
//         color:white;
//     }
//     h2::after{
//         content: ""; 
//         display: block;
//         width: 0;
//         padding-top: 2px; 
//         border-bottom: 1px solid white;
//         transition: .3s; 
//     }
// }
// #navbarLeft-builds:hover {
//     .navbarLeftBuildsImages{
//         transform: scale(1.2);
//         // filter: blur(3px);
//         filter: grayscale(80%);

//     }
//     h2:after{
//         width: 100%;
//     }
// }
// #navbarLeft-builds{
//     grid-area: builds;
//     overflow: hidden;
//     position: relative;
//     height: 20vh;
//     .navbarLeftBuildsImages{
//             transition: transform .3s, filter .5s;
//             height: 100%;
//             width: 8vw;
//             background: url('../../../assets/dashboard/champions/Aatrox_0.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             background-position-x: center;
//     }
//     h2{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform:translate(-50%,-50%);
//         color:white;
//     }
//     h2::after{
//         content: ""; 
//         display: block;
//         width: 0;
//         padding-top: 2px; 
//         border-bottom: 1px solid white;
//         transition: .3s; 
//     }
// }
// #navbarLeft-stream:hover {
//     .navbarLeftStreamImages{
//         transform: scale(1.2);
//         filter: grayscale(80%);
//     }
//     h2:after{
//         width: 100%;
//     }
// }
// #navbarLeft-stream{
//     grid-area: stream;
//     position: relative;
//     overflow: hidden;
//     height: 20vh;
//     .navbarLeftStreamImages{
//         transition: transform .3s, filter .5s;
//         height: 100%;
//         width: 8vw;
//         background: url('../../../assets/dashboard/champions/Ahri_0.jpg');
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position-x: center;
//     }
//     h2{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform:translate(-50%,-50%);
//         color:white;
//     }
//     h2::after{
//         content: ""; 
//         display: block;
//         width: 0;
//         padding-top: 2px; 
//         border-bottom: 1px solid white;
//         transition: .3s; 
//     }
// }

// #navbarLeft-items:hover {
//     .navbarLeftItemsImages{
//         transform: scale(1.2);
//         // filter: blur(3px);
//         filter: grayscale(80%);

//     }
//     h2:after{
//         width: 100%;
//     }
// }

// #navbarLeft-items{
//     grid-area: items;
//     overflow: hidden;
//     position: relative;
//     height: 20vh;
//     .navbarLeftItemsImages{
//         transition: transform .3s, filter .5s;
//         height: 100%;
//         width: 8vw;
//         background: url('../../../assets/dashboard/champions/Anivia_0.jpg');
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position-x: center;
//     }
//     h2{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform:translate(-50%,-50%);
//         color:white;
//     }
//     h2::after{
//         content: ""; 
//         display: block;
//         width: 0;
//         padding-top: 2px; 
//         border-bottom: 1px solid white;
//         transition: .3s; 
//     }
// }

// #navbarLeft-todo:hover {
//     .navbarLeftToDoImages{
//         transform: scale(1.2);
//         // filter: blur(3px);
//         filter: grayscale(80%);

//     }
//     h2:after{
//         width: 100%;
//     }
// }

// #navbarLeft-todo{
//     grid-area: todo;
//     overflow: hidden;
//     position: relative;
//     height: 20vh;
//     .navbarLeftToDoImages{
//         transition: transform .3s, filter .5s;
//         height: 100%;
//         width: 8vw;
//         background: url('../../../assets/dashboard/champions/Alistar_0.jpg');
//         background-repeat: no-repeat;
//         background-size: cover;
//         background-position-x: center;
//     }
//     h2{
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform:translate(-50%,-50%);
//         color:white;
//     }
//     h2::after{
//         content: ""; 
//         display: block;
//         width: 0;
//         padding-top: 2px; 
//         border-bottom: 1px solid white;
//         transition: .3s; 
//     }
// }