#home{
    display: grid;
    grid-template-areas: "champions builds live stream patch";
    grid-template-rows: 100vh;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    
    #home-champions{
        grid-area: champions;
        overflow: hidden;
        position: relative;
        .homeChampionsImages{
            transition: transform .3s, filter .5s;

            height: 100vh;
            transform: scale(1.15);
            background: url('../../assets/dashboard/champions/Akali_0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color:white;
        }
        h2::after{
            content: ""; 
            display: block;
            width: 0;
            padding-top: 2px; 
            border-bottom: 1px solid white;
            transition: .3s; 
        }
    }
    #home-champions:hover{
        .homeChampionsImages{
            transform: scale(1);
            filter: grayscale(85%) opacity(.9);
        }
        h2:after{
            width: 100%;
        }
    }
    
    #home-builds{
        grid-area: builds;
        overflow: hidden;
        position: relative;
        .homeBuildsImages{
            transition: transform .3s, filter .5s;
            height: 100vh;
            transform: scale(1.15);
            background: url('../../assets/dashboard/champions/Aatrox_0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color:white;
        }
        h2::after{
            content: ""; 
            display: block;
            width: 0;
            padding-top: 2px; 
            border-bottom: 1px solid white;
            transition: .3s; 
        }
    }
    #home-builds:hover{
        .homeBuildsImages{
          transform: scale(1);

          filter: grayscale(90%) opacity(.9);

        }
        h2:after{
            width: 100%;
        }
    }
    
    #home-live{
        grid-area: live;
        overflow: hidden;
        position: relative;
        .homeLiveImages{
            transition: transform .3s, filter .5s;
            height: 100vh;
            transform: scale(1.15);
            background: url('../../assets/dashboard/champions/Ahri_0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color:WHITE;
            transition: color ease .3s;
        }
        h2::after{
            content: ""; 
            display: block;
            width: 0;
            padding-top: 2px; 
            border-bottom: 1px solid white;
            transition: .3s; 
        }
    }
    #home-live:hover{
        .homeLiveImages{
          transform: scale(1);
          filter: grayscale(85%) opacity(0);

        }
        h2{
            color: black;
        }
        h2:after{
            border-bottom: 1px solid black;
            width: 100%;
        }
    }
    
    #home-stream{
        grid-area: stream;
        overflow: hidden;
        position: relative;
        .homeStreamImages{
            transition: transform .3s, filter .5s;
            height: 100vh;
            transform: scale(1.15);
            background: url('../../assets/dashboard/champions/Anivia_0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color:WHITE;
            transition: color ease .3s;
        }
        h2::after{
            content: ""; 
            display: block;
            width: 0;
            padding-top: 2px; 
            border-bottom: 1px solid white;
            transition: .3s; 
        }
    }
    #home-stream:hover{
        .homeStreamImages{
            transform: scale(1);
            filter: grayscale(85%) opacity(0);

        }
        h2{
            color: black;
        }
        h2:after{
            border-bottom: 1px solid black;
            width: 100%;
        }
    }
    
    #home-patch{
        grid-area: patch;
        overflow: hidden;
        position: relative;
        .homePatchImages{
            transition: transform .3s, filter .5s;
            height: 100vh;
            transform: scale(1.15);
            background: url('../../assets/dashboard/champions/Alistar_0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
        }
        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            color:WHITE;
            transition: color ease .3s;
        }
        h2::after{
            content: ""; 
            display: block;
            width: 0;
            padding-top: 2px; 
            border-bottom: 1px solid white;
            transition: .3s; 
        }
    }
    #home-patch:hover{
        .homePatchImages{
            transform: scale(1);
            filter: grayscale(85%) opacity(0);

        }
        h2{
            color: black;
        }
        h2:after{
            border-bottom: 1px solid black;
            width: 100%;
        }
    }
}



// #home{
//     display: grid;
//     transition: grid ease .5s;
//     grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
//     grid-template-rows: 100vh;
//     grid-template-areas: 
//     " champions builds stream items todo"
//     ;

//     #home-champions:hover {
//         .homeChampionsImages{
//             transform: scale(0.9);
//             // filter: blur(3px);
//             filter: grayscale(80%);
//         }
//         h2:after{
//             width: 100%;
//         }
//     }
//     #home-champions{
//         grid-area: champions;
//         overflow: hidden;
//         position: relative;
//         .homeChampionsImages{
//             transition: transform .3s, filter .5s;
//             height: calc(100vh);
//             width: calc(20vw + 10px);
//             background: url('../../assets/dashboard/champions/Akali_0.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             background-position-x: center;
//         }
//         h2{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform:translate(-50%,-50%);
//             color:white;
//         }
//         h2::after{
//             content: ""; 
//             display: block;
//             width: 0;
//             padding-top: 2px; 
//             border-bottom: 1px solid white;
//             transition: .3s; 
//         }
//     }
//     #home-builds:hover {
//         .homeBuildsImages{
//             transform: scale(1.2);
//             // filter: blur(3px);
//             filter: grayscale(80%);
    
//         }
//         h2:after{
//             width: 100%;
//         }
//     }
//     #home-builds{
//         grid-area: builds;
//         overflow: hidden;
//         position: relative;
//         .homeBuildsImages{
//                 transition: transform .3s, filter .5s;
//                 height: 100vh;
//                 width: calc(20vw + 10px);
//                 background: url('../../assets/dashboard/champions/Aatrox_0.jpg');
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 background-position-x: center;
//         }
//         h2{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform:translate(-50%,-50%);
//             color:white;
//         }
//         h2::after{
//             content: ""; 
//             display: block;
//             width: 0;
//             padding-top: 2px; 
//             border-bottom: 1px solid white;
//             transition: .3s; 
//         }
//     }
//     #home-stream:hover {
//         .homeStreamImages{
//             transform: scale(1.2);
//             filter: grayscale(80%);
//         }
//         h2:after{
//             width: 100%;
//         }
//     }
//     #home-stream{
//         grid-area: stream;
//         position: relative;
//         overflow: hidden;
//         .homeStreamImages{
//             transition: transform .3s, filter .5s;
//             height: 100vh;
//             width: calc(20vw + 10px);
//             background: url('../../assets/dashboard/champions/Ahri_0.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             background-position-x: center;
//         }
//         h2{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform:translate(-50%,-50%);
//             color:white;
//         }
//         h2::after{
//             content: ""; 
//             display: block;
//             width: 0;
//             padding-top: 2px; 
//             border-bottom: 1px solid white;
//             transition: .3s; 
//         }
//     }
    
//     #home-items:hover {
//         .homeItemsImages{
//             transform: scale(1.2);
//             // filter: blur(3px);
//             filter: grayscale(80%);
    
//         }
//         h2:after{
//             width: 100%;
//         }
//     }
    
//     #home-items{
//         grid-area: items;
//         overflow: hidden;
//         position: relative;
//         .homeItemsImages{
//             transition: transform .3s, filter .5s;
//             height: 100vh;
//             width: calc(20vw + 10px);
//             background: url('../../assets/dashboard/champions/Anivia_0.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             background-position-x: center;
//         }
//         h2{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform:translate(-50%,-50%);
//             color:white;
//         }
//         h2::after{
//             content: ""; 
//             display: block;
//             width: 0;
//             padding-top: 2px; 
//             border-bottom: 1px solid white;
//             transition: .3s; 
//         }
//     }
    
//     #home-todo:hover {
//         .homeToDoImages{
//             transform: scale(1.2);
//             // filter: blur(3px);
//             filter: grayscale(80%);
    
//         }
//         h2:after{
//             width: 100%;
//         }
//     }
    
//     #home-todo{
//         grid-area: todo;
//         overflow: hidden;
//         position: relative;
//         .homeToDoImages{
//             transition: transform .3s, filter .5s;
//             height: 100vh;
//             width: calc(20vw + 10px);
//             background: url('../../assets/dashboard/champions/Alistar_0.jpg');
//             background-repeat: no-repeat;
//             background-size: cover;
//             background-position-x: center;
//         }
//         h2{
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform:translate(-50%,-50%);
//             color:white;
//         }
//         h2::after{
//             content: ""; 
//             display: block;
//             width: 0;
//             padding-top: 2px; 
//             border-bottom: 1px solid white;
//             transition: .3s; 
//         }
//     }