#live{
    height: 80vh;
    overflow: hidden;
    padding: 30px 0;
    .live-slider{
        height: 80vh ;
        .img-container{
            position: relative;

            .img-overlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
                background-color: hsla(0,0,0%,.65);
                opacity: 0;
                transition: opacity ease .5s, background-color ease .5s;
                .img-redirect{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                .img-title{
                    position: absolute;
                    color: white;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 21px !important;
                    margin-top: 10px;
                }
                .img-viewer{
                    color: hsla(0%,100%,50%,.6);
                    font-size: 16px;
                    font-weight: bold;
                    position: absolute;
                    bottom: 10px;
                    right: 60px;
                    letter-spacing: 1px;
                    .img-viewer-icon{
                        padding-right: 10px;
                        font-size: 21px;
                    }
                }
                .img-username{
                    position: absolute;
                    right: 60px;
                    top: 10px;
                    font-size: 31px;
                    color: white;
                    font-weight: bold;
                }
                .img-live{
                    background-color: hsla(0%,100%,50%,.6);
                    width: fit-content;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: none;
                    border-radius: 10px;
                    position: absolute;
                    left: 60px;
                    top: 10px;
                    p{
                        text-transform: capitalize;
                        margin: 0;
                    }
                }
            }
            .img-overlay:hover{
                opacity: 1;
            }

            .carousel-img{
                height: 67vh;
                width: auto;
            }
        }
    }
}

// .carousel-img{
//     max-width: 100% !important;
//     max-height: 700px !important;
// }
// .live-slider{
//     width: 100% !important;
//     height: auto !important;
// }
